body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header a i,nav a i{
    margin-right: .5em;
  }

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    text-decoration: underline;
}

.sun {
    padding: 20px;
}

.food h3 {
    margin: 0;
}

.food p {
    margin: 5px 0;
}

button {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

#cart {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#cart h2 {
    margin-top: 0;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#total-price {
    font-weight: bold;
    margin-top: 10px;
}
